{% extends 'app/school_base.html' %}
{% block nav_school%}
    class="item active"
{% endblock %}
{% load static %}
{% load app_extras %}

{% block script %}
    {% if has_coordinate == False %}
        <script>
            function run() {
                if (navigator.geolocation) {
                    var options = {
                        enableHighAccuracy: true,
                        timeout: 15000,
                        maximumAge: 0
                    };
                    navigator.geolocation.getCurrentPosition(showPosition, error, options);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }
            function showPosition(position) {
                var latitude = position.coords.latitude.toString()
                var longitude = position.coords.longitude.toString()
                var searchParams = new URLSearchParams(window.location.search);
                searchParams.set('latitude', latitude.toString())
                searchParams.set('longitude', longitude.toString())
                window.location.search = searchParams.toString()
            }

            function error(err) {
                console.warn(`ERROR(${err.code}): ${err.message}`);
                setTimeout(run, 1000);
            }
            run()
        </script>
    {% endif %}
    <script
        async
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUH4ybclQQPb9WiYYoY1gMLNyq3WaUQ1E&callback=initMap">
    </script>
    <script>
        function sortAsc () {
            var searchParams = new URLSearchParams(window.location.search);
            searchParams.delete('sortAsc');
            searchParams.delete('page');
            window.location.search = searchParams.toString();
        }
        function sortDesc () {
            var searchParams = new URLSearchParams(window.location.search);
            searchParams.set('sortAsc', 'flip');
            searchParams.delete('page');
            window.location.search = searchParams.toString();
        }
        function removeAlphabet () {
            var searchParams = new URLSearchParams(window.location.search);
            searchParams.delete('alphabet');
            window.location.search = searchParams.toString();
        }
        function initMap() {
            var latStr = '{{ latitude }}';
            var lngStr = '{{ longitude }}';
            var latlng = {
                lat: parseFloat(latStr),
                lng: parseFloat(lngStr)
            };
            if (latlng.lat && latlng.lng) {
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({'location': latlng}, function(results, status) {
                    if (status === 'OK') {
                        if (results[0]) {
                            span = document.getElementById('curentLocationAddress')
                            span.innerHTML = "Your location: " + results[0].formatted_address
                        }
                    }
                });
            }
        }
        function submitSearch () {
            var searchParams = new URLSearchParams(window.location.search);
            score = document.getElementById('scoreSchool')
            if (score.value) {
                searchParams.set('score', score.value)
            } else {
                searchParams.delete('score')
            }

            distance = document.getElementById('distanceSchool')
            input = distance.querySelector('input')
            if (input.value) {
                searchParams.set('distance', input.value)
            } else {
                searchParams.delete('distance')
            }

            var zoneNorth = document.getElementById('zoneNorth')
            var zoneSouth = document.getElementById('zoneSouth')
            var zoneEast = document.getElementById('zoneEast')
            var zoneWest = document.getElementById('zoneWest')
            var spIP = document.getElementById('spIP')
            var spSAP = document.getElementById('spSAP')
            var spNone = document.getElementById('spNone')
            var chineseMT = document.getElementById('chineseMT')
            var malayMT = document.getElementById('malayMT')
            var tamilMT = document.getElementById('tamilMT')
            var stmExp = document.getElementById('stmExp')
            var stmNA = document.getElementById('stmNA')
            var stmNT = document.getElementById('stmNT')

            if (!zoneNorth.checked) {
                searchParams.set('zoneNorth', 'false')
            } else {
                searchParams.delete('zoneNorth');
            }

            if (!zoneSouth.checked) {
                searchParams.set('zoneSouth', 'false')
            } else {
                searchParams.delete('zoneSouth');
            }

            if (!zoneEast.checked) {
                searchParams.set('zoneEast', 'false')
            } else {
                searchParams.delete('zoneEast');
            }

            if (!zoneWest.checked) {
                searchParams.set('zoneWest', 'false')
            } else {
                searchParams.delete('zoneWest');
            }

            if (!spIP.checked) {
                searchParams.set('spIP', 'false')
            } else {
                searchParams.delete('spIP');
            }

            if (!spSAP.checked) {
                searchParams.set('spSAP', 'false')
            } else {
                searchParams.delete('spSAP');
            }

            if (!spNone.checked) {
                searchParams.set('spNone', 'false')
            } else {
                searchParams.delete('spNone');
            }

            if (!chineseMT.checked) {
                searchParams.set('chineseMT', 'false')
            } else {
                searchParams.delete('chineseMT');
            }

            if (!malayMT.checked) {
                searchParams.set('malayMT', 'false')
            } else {
                searchParams.delete('malayMT');
            }

            if (!tamilMT.checked) {
                searchParams.set('tamilMT', 'false')
            } else {
                searchParams.delete('tamilMT');
            }
            /*
            if (!stExp.checked) {
                searchParams.set('stExp', 'false')
            } else {
                searchParams.delete('stExp');
            }

            if (!stmNA.checked) {
                searchParams.set('stmNA', 'false')
            } else {
                searchParams.delete('stmNA');
            }

            if (!stmNT.checked) {
                searchParams.set('stmNT', 'false')
            } else {
                searchParams.delete('stmNT');
            }*/

            searchParams.delete('page');
            window.location.search = searchParams.toString()
        }
        $(document).ready(function() {
            $('.browse')
                .popup({
                    inline: true,
                    position: 'bottom left',
                    on: 'click',
                    delay: {
                        show: 300,
                        hide: 800
                    }
                })
            $('.dropdown').dropdown();
        })
    </script>
{% endblock %}

{% block content %}
    <div style="flex: 1; flex-direction: column">
        <div>
            <div class="ui grid">
                {% if has_coordinate == False %}
                    <div class="two wide column"></div>
                    <div class="twelve wide column">
                        <div class="ui visible info message">
                            Please wait.. We are fetching your location..
                        </div>
                    </div>
                    <div class="two wide column"></div>
                {% endif %}
                <div class="two wide column"></div>
                <div class="twelve wide column">
                    <div class="ui input">
                        <input type="text" id="scoreSchool" name="score" placeholder="Enter PSLE score" value="{{ params.score }}">
                    </div>
                    <div id="distanceSchool" class="ui selection dropdown">
                      <input type="hidden" name="distance">
                      <i class="dropdown icon"></i>
                      <div class="default text">Enter distance in KM</div>
                      <div class="menu">
                        <div class="item" data-value="1">1</div>
                        <div class="item" data-value="2">2</div>
                        <div class="item" data-value="3">3</div>
                        <div class="item" data-value="4">4</div>
                        <div class="item" data-value="5">5</div>
                        <div class="item" data-value="6">6</div>
                        <div class="item" data-value="7">7</div>
                        <div class="item" data-value="8">8</div>
                        <div class="item" data-value="9">9</div>
                        <div class="item" data-value="10">11</div>
                        <div class="item" data-value="10">12</div>
                        <div class="item" data-value="10">13</div>
                        <div class="item" data-value="10">14</div>
                        <div class="item" data-value="10">15</div>
                        <div class="item" data-value="10">16</div>
                        <div class="item" data-value="10">17</div>
                        <div class="item" data-value="10">18</div>
                        <div class="item" data-value="10">19</div>
                        <div class="item" data-value="10">20</div>
                        <div class="item" data-value="10">21</div>
                        <div class="item" data-value="10">22</div>
                        <div class="item" data-value="10">23</div>
                        <div class="item" data-value="10">24</div>
                        <div class="item" data-value="10">25</div>
                        <div class="item" data-value="10">26</div>
                        <div class="item" data-value="10">27</div>
                        <div class="item" data-value="10">28</div>
                        <div class="item" data-value="10">29</div>
                        <div class="item" data-value="10">30</div>
                      </div>
                    </div>

                    <a class="browse item">
                        <div class="ui labeled icon button">
                            <i class="filter icon"></i>
                            <span class="text browse item">More Filters</span>
                        </div>
                    </a>
                    <div class="ui popup bottom right transition hidden">
                        <div class="ui one column divided grid">
                            <div class="column">
                                <h4>Zone</h4>
                                <div class="ui checked checkbox">
                                    <input type="checkbox" id="zoneNorth" {% if not params.zoneNorth %}checked{% endif %}>
                                    <label>North</label>
                                </div>
                                <div class="ui checked checkbox">
                                    <input type="checkbox" id="zoneSouth" {% if not params.zoneSouth %}checked{% endif %}>
                                    <label>South</label>
                                </div>
                                <div class="ui checked checkbox">
                                    <input type="checkbox" id="zoneEast" {% if not params.zoneEast %}checked{% endif %}>
                                    <label>East</label>
                                </div>
                                <div class="ui checked checkbox">
                                    <input type="checkbox" id="zoneWest" {% if not params.zoneWest %}checked{% endif %}>
                                    <label>West</label>
                                </div>

                                <h4>Special Programme</h4>
                                <div class="ui checked checkbox">
                                    <input type="checkbox" id="spIP" {% if not params.spIP %}checked{% endif %}>
                                    <label>IP</label>
                                </div>
                                <div class="ui checked checkbox">
                                    <input type="checkbox" id="spSAP" {% if not params.spSAP %}checked{% endif %}>
                                    <label>SAP</label>
                                </div>
                                <div class="ui checked checkbox">
                                    <input type="checkbox" id="spNone" {% if not params.spNone %}checked{% endif %}>
                                    <label>None</label>
                                </div>

                                <h4>Mother Tongue</h4>
                                <div class="ui checked checkbox">
                                    <input type="checkbox" id="chineseMT" {% if not params.chineseMT %}checked{% endif %}>
                                    <label>Chinese</label>
                                </div>
                                <div class="ui checked checkbox">
                                    <input type="checkbox" id="malayMT" {% if not params.malayMT %}checked{% endif %}>
                                    <label>Malay</label>
                                </div>
                                <div class="ui checked checkbox">
                                    <input type="checkbox" id="tamilMT" {% if not params.tamilMT %}checked{% endif %}>
                                    <label>Tamil</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="ui button" onclick="submitSearch()">Go</button>
                    <span id='curentLocationAddress'></span>
                    {% if params.sortAsc %}
                        <button class="ui icon button" onclick="sortAsc()" style="vertical-align: middle">
                            <i class="sort alphabet ascending icon"></i>
                        </button>
                    {% else %}
                        <button class="ui icon button" onclick="sortDesc()" style="vertical-align: middle">
                            <i class="sort alphabet descending icon"></i>
                        </button>
                    {% endif %}
                </div>
                <div class="two wide column"></div>
                <div class="two wide column"></div>
                <div class="twelve wide column icon center aligned">
                    <div class="ui pagination menu small" style="width:100%">
                        <a class="item" onclick="removeAlphabet()">
                            ALL
                        </a>
                        {% for item in school_alphabet %}
                            <a class="{% if item.disabled %}disabled {% endif %}item" href="?alphabet={{item.alphabet}}{{ params_text_without_alphabet }}">
                                {{ item.alphabet }}
                            </a>
                        {% endfor %}
                    </div>

                </div>
                <div class="two wide column"></div>
            </div>
        </div>
        <div style="flex: 1">
            <div class="ui grid">
                <div class="two wide column"></div>
                <div class="twelve wide column">
                    <div class="ui segments">
                        {% for school in school_list %}
                            <div class="ui segment">
                                <div class="ui grid">
                                    <div class="two wide column">
                                        <div class="ui image">
                                            <a href="{% url 'app:school_detail' school.id %}">
                                                <img src="{% static school.logo_name %}" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="fourteen wide column">
                                        <a class="ui header" href="{% url 'app:school_detail' school.id %}">
                                            {{ school.school_name }}
                                        </a>
                                        {% if user.is_authenticated %}
                                            {% if school|is_bookmarked:request.user == True %}
                                                <div class="ui green basic label">
                                                    <i class="bookmark icon"></i>
                                                    Bookmarked
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        {% if school|is_compared:request == True %}
                                            <div class="ui green basic label">
                                                <i class="plus icon"></i>
                                                Compared
                                            </div>
                                        {% endif %}

                                          <div class="ui basic horizontal segments">
                                            <div class="ui segment" style="border:none">
                                              <p>
                                                {{ school.address }}
                                              </br>
                                                {{ school.postal_code }}
                                              </p>
                                            </div>
                                            <div class="ui segment" style="border:none">
                                              <left>
                                              <div>
                                									<p>Express: {{ school.express_nonaff_lower }} - {{ school.express_nonaff_upper }}</p>
                                									<p>Normal Academic: {{ school.normal_academic_nonaff_lower }} - {{ school.normal_academic_nonaff_upper}}</p>
                                									<p>Normal Technical: {{ school.normal_technical_nonaff_lower }} - {{ school.normal_technical_nonaff_upper }}</p>
                                                </div>
                                              </left>
                                            </div>
                                            </div>

                                        <div>
                                            {% if school|is_compared:request == True %}
                                                <a class="ui red label" href="{% url 'app:remove_from_comparison' school.id %}">
                                                    <i class="remove icon"></i>
                                                    Remove from comparison
                                                </a>
                                            {% else %}
                                                {% if allow_compare %}
                                                    <a class="ui label" href="{% url 'app:add_to_comparison' school.id %}">
                                                        <i class="plus icon"></i>
                                                        Add to comparison
                                                    </a>
                                                {% else %}
                                                    <a class="ui yellow disabled label">
                                                        Max 4 comparison
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                            {% if user.is_authenticated %}
                                                {% if school|is_bookmarked:request.user == True %}
                                                    {% if has_coordinate == True %}
                                                        <a class="ui red label" href="{% url 'app:unbookmark' school.id %}?latitude={{ latitude }}&longitude={{ longitude }}">
                                                    {% else %}
                                                        <a class="ui red label" href="{% url 'app:unbookmark' school.id %}">
                                                    {% endif %}
                                                        <i class="remove icon"></i>
                                                        Unbookmark
                                                    </a>
                                                {% else %}
                                                    {% if has_coordinate == True %}
                                                        <a class="ui label" href="{% url 'app:bookmark' school.id %}?latitude={{ latitude }}&longitude={{ longitude }}">
                                                    {% else %}
                                                        <a class="ui label" href="{% url 'app:bookmark' school.id %}">
                                                    {% endif %}
                                                        <i class="bookmark icon"></i>
                                                        Bookmark
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="ui pagination menu">
                        {% if school_list.number|add:"-1" > 1 %}
                            <a class="item" href="?page=1{{ params_text }}">
                                1
                            </a>
                            {% if school_list.number|add:"-2" > 1 %}
                                <div class="disabled item">
                                    ...
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if school_list.has_previous %}
                            <a class="item" href="?page={{ school_list.previous_page_number }}{{ params_text }}">
                                {{ school_list.previous_page_number }}
                            </a>
                        {% endif %}
                        <a class="active item">{{ school_list.number }}</a>
                        {% if school_list.has_next %}
                            <a class="item" href="?page={{ school_list.next_page_number }}{{ params_text }}">
                                {{ school_list.next_page_number }}
                            </a>
                        {% endif %}
                        {% if school_list.number|add:"1" < school_list.paginator.num_pages %}
                            {% if school_list.number|add:"2" < school_list.paginator.num_pages %}
                                <div class="disabled item">
                                    ...
                                </div>
                            {% endif %}
                            <a class="item" href="?page={{ school_list.paginator.num_pages }}{{ params_text }}">
                                {{ school_list.paginator.num_pages }}
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="two wide column"></div>
            </div>
        </div>
    </div>
{% endblock %}
