{% extends 'app/admin_base.html' %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('.readonlyrating').rating('disable', true);
        });
    </script>
{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <h1 class="ui huge header">
               User Information
            </h1>
        </div>
        <div class="ui divider"></div>
        <div class="row">
            <div class="sixteen wide column">
                <p style="font-size:large">First Name: {{ user.first_name }}</p>
                <p style="font-size:large">Last Name: {{ user.last_name }}</p>
                <p style="font-size:large">Email: {{ user.email }}</p>
                <p style="font-size:large">Status: {% if user.is_active %}Active{% else %}Blocked{% endif %}</p>
                {% if user.is_active == True %}
                    <a href="{% url 'app:admin_block_user' user.id %}" class="ui red button">Block User</a>
                {% else %}
                    <a href="{% url 'app:admin_unblock_user' user.id %}" class="ui primary button">Unlock User</a>
                {% endif %}
            </div>
        </div>

        <div class="ui hidden section divider"></div>
        <div class="row">
            <h1 class="ui huge header">
                Previous comments
            </h1>
        </div>
        <div class="ui divider"></div>
        <div class="row">
            <table class="ui single line striped selectable icon table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>School</th>
                        <th>Rating</th>
                        <th>Comments</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in user.schoolcomment_set.all %}
                        <tr>
                            <td>{{ comment.id }}</td>
                            <td>{{ comment.school.school_name }} </td>
                            <td><div class="ui star readonlyrating rating" data-rating="{{ comment.rating }}" data-max-rating="5"></div></td>
                            <td>{{ comment.message }}</td>
                            <td>
                                <a href="{% url 'app:admin_delete_comment' comment.id %}">
                                    <i class="trash icon"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}