{% extends 'app/admin_base.html' %}

{% block content %}
<script type="text/javascript">
        $(document).ready(function () {
            // All your normal JS code goes in here
            $('table').tablesort()
        });
</script>
    <div class="ui grid">
        <div class="row">
            <h1 class="ui huge header">Schools</h1>
        </div>

        <div class="ui divider"></div>
        <div class="row">
            <table class="ui single line striped sortable selectable icon table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th class="sorted ascending">School Name</th>
                        <th class="no-sort">Postal Code</th>
                        <th class="no-sort">Stream</th>
                        <th class="no-sort">Cut Off Points</th>
                        <th class="no-sort">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for school in school_list %}
                        <tr>
                            <td>{{ school.id }}</td>
                            <td><a href="{% url 'app:admin_schools_detail' school.id %}">{{ school.school_name }}</a></td>
                            <td>{{ school.postal_code }}</td>
                            <td>Express:<br />
                                Normal Academic:<br />
                                Normal Technical:
                            </td>
                            <td>247-266 <br />
                                186-199 <br />
                                139-159
                            </td>
                            <td>
                                <a href="{% url 'app:admin_edit_school' school.id %}"><i class="edit icon"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
