{% extends 'app/admin_base.html' %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <h1 class="ui huge header">Scheduler log</h1>
        </div>
        <div class="ui divider"></div>
        <div class="sixteen wide column"></div>
        <div class="sixteen wide column">
            <table class="ui definition table">
                <tbody>
                    <tr>
                        <td>Type</td>
                        <td>{{ scheduler_log.get_type_display }}</td>
                    </tr>
                    <tr>
                        <td>School</td>
                        <td>{% if scheduler_log.school %}{{ scheduler_log.school.school_name }}{% else %}{{ scheduler_log.other_school.school_name }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Field</td>
                        <td>{{ scheduler_log.field }}</td>
                    </tr>
                    <tr>
                        <td>Previous data</td>
                        <td><pre>{{ scheduler_log.previous_data }}</pre></td>
                    </tr>
                    <tr>
                        <td>New data</td>
                        <td><pre>{{ scheduler_log.new_data }}</pre></td>
                    </tr>
                    <tr>
                        <td>Created at</td>
                        <td>{{ scheduler_log.created_at }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}