{% extends 'app/admin_base.html' %}

{% block content %}
    <div class="ui grid">
        <!-- <div class="row">
            <div class="ui breadcrumb">
                <a class="section" href="admin_enquries.html">Enquries</a>
                <div class="divider"> / </div>
                <div class="active section">Enquiry Detail</div>
            </div>
        </div> -->
        <div class="row">
            <h1 class="ui huge header">
                Enquiry
            </h1>
        </div>
        <div class="ui divider"></div>
        <div class="two column aligned row">
            <div class="column">
                <form class="ui large form">
                    <div class="ui stacked segment">
                        <h2>Enquiry Form</h2>
                        <div class="ui field">
                            <label style="text-align:left">Name</label>
                            <div class="field">
                                <input name="name" type="text" placeholder="First Name" readonly value="{{ enquiry.name }}" />
                            </div>

                        </div>
                        <div class="field required">
                            <label style="text-align:left">Email</label>
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="email" name="email" placeholder="E-mail address" readonly value="{{ enquiry.email }}">
                            </div>
                        </div>
                        <div class="ui required field">
                            <label style="text-align:left">Message</label>
                            <textarea placeholder="Message" readonly>{{ enquiry.message }}</textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column">
                <form class="ui large form" method="POST">
                    <div class="ui stacked segment">
                        <h2>Reply</h2>
                        <div class="ui required field">
                            <label style="text-align:left">Message</label>
                            {{ form.answer }}
                        </div>
                        <div class="field">
                            <button type='submit' class="ui primary submit button">Reply</button>
                        </div>
                        {% csrf_token %}
                        {{ form.errors }}
                        <div class="ui error message"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="ui header">Answers</div>
            <div class="ui one column grid">
                {% for answer in enquiry.enquiryanswer_set.all %}
                    <div class="column">
                        <div class="ui segments">
                            <div class="ui segment">
                                <div class="ui header">{{ answer.answered_by }}</div>
                                {{ answer.created_at }}
                            </div>
                            <div class="ui segment">
                                {{ answer.answer }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}