{% extends 'app/admin_base.html' %}

{% block content %}
    <div class="ui grid">
        <!-- <div class="row">
            <div class="ui breadcrumb">
                <a class="section" href="admin_schools.html">Schools</a>
                <div class="divider"> / </div>
                <div class="active section">School Details</div>
            </div>
        </div> -->
        <div class="row">
            <h1 class="ui huge header">Schools</h1>
        </div>
        <div class="ui divider"></div>
        <div class="sixteen wide column"></div>
        <div class="sixteen wide column">
            <table class="ui definition table">
                <tbody>
                    <tr>
                        <td>School Name</td>
                        <td>{{ school.school_name }}</td>
                    </tr>
                    <tr>
                        <td>Stream</td>
                        <td>Express, Normal Academic, Normal Technical</td>
                    </tr>
                    <tr>
                        <td>Cut Off Point</td>
                        <td>Express: 196-240<br />
                            Normal Academic: 167-198<br />
                            Normal Technical: 120-159
                        </td>
                    </tr>
                    <tr>
                        <td>Vision</td>
                        <td>{{ school.visionstatement_desc }}</td>
                    </tr>
                    <tr>
                        <td>Mission</td>
                        <td>{{ school.missionstatement_desc }}</td>
                    </tr>
                    <tr>
                        <td>Principal</td>
                        <td>{{ school.principal_name }}</td>
                    </tr>
                    <tr>
                        <td>Vice Principal</td>
                        <td>
                            {{ school.first_vp_name }}<br>
                            {{ school.second_vp_name }}<br>
                            {{ school.third_vp_name }}<br>
                            {{ school.fourth_vp_name }}<br>
                            {{ school.fifth_vp_name }}<br>
                        </td>
                    </tr>
                    <tr>
                        <td>Subject Offered</td>
                        <td>English<br />
                            Chinese<br />
                            Science
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="ten wide column"></div>
        <div class="ui sixteen wide column centered grid">
            <a href="{% url 'app:admin_edit_school' school.id %}"><div class="ui button">Edit</div></a>
        </div>

    </div>
    </div>
{% endblock %}