{% extends 'app/admin_base.html' %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <h1 class="ui huge header">Enquiry</h1>
        </div>
        <div class="ui divider"></div>
        <div class="row">
            <table class="ui single line striped sortable celled selectable icon table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Enquiry</th>
                        <th class="sorted descending">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for enquiry in enquiry_list %}
                        <tr class="{% if enquiry.status == 'A' %}positive{% else %}warning{% endif %}" >
                           <td>{{ enquiry.id }}</td>
                            <td><a href="{% url 'app:admin_enquiries_detail' enquiry.id %}">{{ enquiry.email }}</td>
                            <td>{{ enquiry.name }}</td>
                            <td>{{ enquiry.message }}</td>
                            <td class="selectable">
                                <a href="{% url 'app:admin_enquiries_detail' enquiry.id %}">{{ enquiry.get_status_display }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}