{% extends 'app/admin_base.html' %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <h1 class="ui huge header">Reports</h1>
        </div>
        <div class="ui divider"></div>
        <div class="row">
            Note: this page only shows reports to user that is not blocked yet.
            <table class="ui single line striped selectable icon table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Reporter</th>
                        <th>User</th>
                        <th>Comment</th>
                        <th>School Page</th>
                        <th>Comment Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for report in report_list %}
                        <tr>
                            <td>{{ report.id }}</td>
                            <td>{{ report.reported_by }}</td>
                            <td>{{ report.comment.created_by }}</td>
                            <td>{{ report.comment.message }}</td>
                            <td>{{ report.comment.school.school_name }}</td>
                            <td>{{ report.created_at }}</td>
                            <td>
                                <a href="{% url 'app:admin_block_user' report.comment.created_by.id %}"><i class="lock icon"></i></a>
                                <a href="{% url 'app:admin_ignore_report' report.id %}"><i class="remove sign icon"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}