{% extends 'app/school_base.html' %}
{% block nav_compare%}
    class="item active"
{% endblock %}
{% load static %}
{% load app_extras %}

{% block script %}
    {% if has_coordinate == False %}
        <script>
            function run() {
                if (navigator.geolocation) {
                    var options = {
                        enableHighAccuracy: true,
                        timeout: 15000,
                        maximumAge: 0
                    };
                    navigator.geolocation.getCurrentPosition(showPosition, error, options);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }
            function showPosition(position) {
                var latitude = position.coords.latitude.toString()
                var longitude = position.coords.longitude.toString()
                window.location.replace("?latitude=" + latitude.toString() + "&longitude=" + longitude);
            }
            function error(err) {
                console.warn(`ERROR(${err.code}): ${err.message}`);
                run()
            }
            run()
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div style="flex: 1; flex-direction: column">
        <div>
            <div class="ui grid">
                {% if has_coordinate == False %}
                    <div class="two wide column"></div>
                    <div class="twelve wide column">
                        <div class="ui visible info message">
                            Please wait.. We are fetching your location..
                        </div>
                    </div>
                    <div class="two wide column"></div>
                {% endif %}
                <div class="two wide column"></div>
                <div class="twelve wide column">
                    {% if has_coordinate == True %}
                        location: {{ latitude }}, {{ longitude}}
                    {% endif %}
                </div>
                <div class="two wide column"></div>
            </div>
        </div>
        <div style="flex: 1">
              {% if compared_school_list|length == 0 %}
                <div class="ui header">
                    <center>
                        You haven't added any school to compare list
                    </center>
                </div>
            {% else %}
            <center>
                <table class="ui definition table" style="width:70%">
                    <thead>
                        <tr>
                            <th></th>
                            {% for school in compared_school_list %}
                                <th>
                                    <a href="{% url 'app:school_detail' school.id %}">
                                        <img class="ui small image" src="{% static school.logo_name %}" />
                                    </a>
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>School Name</td>
                            {% for school in compared_school_list %}
                                <td><a href="{% url 'app:school_detail' school.id %}">{{ school.school_name }}</a></td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Postal Code</td>
                            {% for school in compared_school_list %}
                                <td>{{ school.postal_code }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Zone Code</td>
                            {% for school in compared_school_list %}
                                <td>{{ school.zone_code }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Cut-Off Point</td>
                            {% for school in compared_school_list %}
                                <td>
                                  <p>Express: {{ school.express_nonaff_lower }} - {{ school.express_nonaff_upper }}</p>
                                  <p>Normal Academic: {{ school.normal_academic_nonaff_lower }} - {{ school.normal_academic_nonaff_upper}}</p>
                                  <p>Normal Technical: {{ school.normal_technical_nonaff_lower }} - {{ school.normal_technical_nonaff_upper }}</p>
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Special Programme</td>
                            {% for school in compared_school_list %}
                                <td>
                                  {% if school.ip_ind = 'Yes'}
                                  <span>IP</span>
                                  {% endif %}
                                  {% if school.sap_ind = 'Yes'}
                                  <span>SAP</span>
                                  {% endif %}
                                  {% if school.ip_ind = 'No' && school.sap_ind = 'No'}
                                  <span>Non-Sp</span>
                                  {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </center>
            {% endif %}
        </div>
    </div>

{% endblock %}
