{% extends 'app/school_base.html' %}
{% block nav_contact%}
    class="item active"
{% endblock %}
{% load static %}


{% block content %}
    <div class="ui container">
        <div class="ui grid" style="margin-top:5%">
            <div class="eleven wide column">
                <form class="ui large form" method="POST">
                    {% csrf_token %}
                    <div class="ui stacked segment">
                        <h2>Contact Us</h2>
                        <div class="ui required field {% if form.name.errors %}error{% endif %}">
                            <label style="text-align:left">Name</label>
                            <div class="ui input">
                                <input name="name" type="text" required="" placeholder="Name" required />
                            </div>
                            {% if form.name.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.name.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="field required {% if form.email.errors %}error{% endif %}">
                            <label style="text-align:left">Email</label>
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="email" name="email" placeholder="E-mail address" required>
                            </div>
                            {% if form.email.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.email.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="ui required field {% if form.message.errors %}error{% endif %}">
                            <label style="text-align:left">Message</label>
                            <textarea name="message" placeholder="Message" required></textarea>
                            {% if form.message.errors %}
                                <div class="ui pointing red basic label">
                                    {{ form.message.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="field">
                            <button class="ui primary submit button">Submit</button>
                        </div>

                        <div class="ui error message"></div>
                    </div>
                    {% if form.errors %}
                        <div class="ui error message">
                            <ul class="list">
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </form>
            </div>
            <div class="five wide icon column">
                <h4><i class="phone icon"></i><b>Telephone</b>: +65 6293 9128</h4>
                <h4><i class="mail icon"></i><b>Email</b>: enquiry@schoolpedia.sg</h4>
                <button class="ui facebook button">
                    <i class="facebook icon"></i>
                    Facebook
                </button>
                <button class="ui twitter button">
                    <i class="twitter icon"></i>
                    Twitter
                </button>
            </div>
        </div>
    </div>
{% endblock %}
