<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=0.3, maximum-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="shortcut icon" href="/static/logotoico.ico" type="image/x-icon" />
		<title>SchoolPedia</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"></link>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
        <script>
            window.intercomSettings = {
                app_id: "rx48bmf8"
            };
            window.intercomSettings = {
                {% if user.is_authenticated %}
                    email: "{{ user.email }}",
                    name: "{{ user.get_full_name }}",
                    user_id: "{{ user.id }}",
                    created_at: "{{ user.date_joined }}",
                {% endif %}
                app_id: "rx48bmf8"
            };
        </script>
        <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/rx48bmf8';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
        {% block script %}
        {% endblock %}
        {% block style %}
        {% endblock %}
    </head>
    {% block body %}
    {% endblock %}
</html>
